<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns='http://maven.apache.org/SETTINGS/1.0.0'
          xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>

  <profiles>
    <profile>
      <id>cloud-build</id>
      <repositories>
        <repository>
          <id>starr-maven</id>
          <url>artifactregistry://us-west1-maven.pkg.dev/som-rit-infrastructure-prod/starr-maven</url>
        </repository>
        <snapshotRepository>
          <id>starr-maven-snapshot</id>
          <url>artifactregistry://us-west1-maven.pkg.dev/som-rit-infrastructure-prod/starr-maven-snapshot</url>
        </snapshotRepository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>cloud-build</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>artifact-registry</id>
      <configuration>
        <httpConfiguration>
          <get>
            <usePreemptive>true</usePreemptive>
          </get>
          <head>
            <usePreemptive>true</usePreemptive>
          </head>
          <put>
            <params>
              <property>
                <name>http.protocol.expect-continue</name>
                <value>false</value>
              </property>
            </params>
          </put>
        </httpConfiguration>
      </configuration>
      <username>_json_key_base64</username>
      <password>${env.REPO_API_TOKEN}</password>
    </server>
  </servers>

</settings>

