<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns='http://maven.apache.org/SETTINGS/1.0.0'
          xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>

  <profiles>
    <profile>
      <id>cloud-build</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>io.cloudrepo.rit-public</id>
          <url>https://susom.mycloudrepo.io/public/repositories/rit-public</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>io.cloudrepo.rit-public-snapshot</id>
          <url>https://susom.mycloudrepo.io/public/repositories/rit-public-snapshot</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>io.cloudrepo.rit-ext-private</id>
          <url>https://susom.mycloudrepo.io/repositories/rit-ext-private</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>io.cloudrepo.rit-private</id>
          <url>https://susom.mycloudrepo.io/repositories/rit-private</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>io.cloudrepo.rit-private-snapshot</id>
          <url>https://susom.mycloudrepo.io/repositories/rit-private-snapshot</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
        </pluginRepository>
      </pluginRepositories>

    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>cloud-build</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>io.cloudrepo.rit-ext-private</id>
      <username>${env.REPO_USERNAME}</username>
      <password>${env.REPO_API_TOKEN}</password>
    </server>
    <server>
      <id>io.cloudrepo.rit-private</id>
      <username>${env.REPO_USERNAME}</username>
      <password>${env.REPO_API_TOKEN}</password>
    </server>
    <server>
      <id>io.cloudrepo.rit-private-snapshot</id>
      <username>${env.REPO_USERNAME}</username>
      <password>${env.REPO_API_TOKEN}</password>
    </server>
  </servers>

</settings>

